project:
  type: website
  output-dir: docs

website:
  title: "Visualizing Insight"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: Redesigns.qmd
        text: Redesigns
      - href: Codes.qmd
        text: Code

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual
